// 颜色
$accentColor = #866DFF
$textColor = #343741
$borderColor = #E8ECF6
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #866DFF
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px