@import './bulma.scss';
@import './fonts.scss';
@import './variable.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
  &:lang(en) {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC,
      Hiragino Sans GB, Microsoft YaHei, sans-serif;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

img {
  max-width: 100%;
}
a,
code {
  word-break: break-word;
}
// reset
.page h5 {
  font-size: 1rem;
}
.theme-default-content:not(.custom) > h1:first-child,
.theme-default-content:not(.custom) > h2:first-child {
  padding-top: 1.5rem;
}
.columns {
  margin-bottom: 0;
}
.columns {
  margin: 0;
}
:focus {
  outline: none;
}
.reset-width {
  max-width: 1200px !important;
}
.sidebar > .sidebar-links {
  padding-top: 0;
}
.sidebar .sidebar-sub-headers .sidebar-sub-header a.sidebar-link.active {
  background-color: transparent;
  color: $base-color;
  border-left: 1px solid #cad2e5;
}
.sidebar > .sidebar-links > li:not(:first-child) {
  margin-top: 0.64rem;
}
.sidebar-heading {
  border-left: none;
}
.sidebar-heading,
.sidebar > .sidebar-links > li > a.sidebar-link {
  padding-left: 24px;
  font-size: 14px;
  font-weight: 500;
  color: $text-color;
  border-left: none;
  &.active {
    color: $base-color;
  }
}
.sidebar-links .sidebar-heading .arrow {
  display: none;
}
.sidebar {
  > .sidebar-links {
    > li {
      > .sidebar-link {
        padding-left: 24px;
      }
      > .sidebar-group {
        > .sidebar-links {
          margin-left: 32px;
        }
      }
      > .sidebar-sub-headers {
        margin-left: 32px;
        padding-left: 0;
      }
    }
  }
}
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  opacity: 1;
}
.sidebar-group-items > li a,
.sidebar-group.is-sub-group > .sidebar-heading,
.sidebar .sidebar-sub-headers .sidebar-sub-header a {
  padding: 8px 0 8px 8px;
  border-left: 1px solid #cad2e5;
  font-size: 12px;
  font-weight: 500;
  color: #7c7d7e;
}
.sidebar .sidebar-sub-headers {
  @media (max-width: 719px) {
    display: block;
  }
  display: none;
}
.sidebar-group a.sidebar-link {
  padding-left: 6px;
  border-left: 3px solid transparent;
  &.active {
    font-weight: 500;
    border-left-color: $base-color;
    background-color: $base-bg-color;
  }
}
a.sidebar-link.is-enterprise {
  position: relative;
  &::after {
    content: 'Enterprise';
    margin-left: 4px;
    padding: 2px 4px;
    color: #ffa730;
    background: #ffe7c7;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
  }
  &:lang(zh)::after {
    content: '企业版';
  }
}
.sidebar .sidebar-sub-headers {
  .sidebar-sub-header {
    a {
      color: #7d8692;
    }
  }
}
div[class*='language-'] {
  border-radius: 0;
}
@media (max-width: 719px) {
  .sidebar .nav-links .dropdown-wrapper .nav-dropdown .dropdown-item a.router-link-active::after {
    top: calc(50% - 2px);
  }
}

// danger, warning, tip, code
.custom-block.tip,
.custom-block.warning,
.custom-block.danger {
  border-left-width: 0.4rem;
  color: #515151;
}
.custom-block.danger {
  background-color: #fff1f0;
  border-color: #de4b45;
  .custom-block-title {
    color: #de4b45;
  }
}
.custom-block.warning {
  background-color: #fff9e5;
  border-color: #ffc600;
  .custom-block-title {
    color: #e48e00;
  }
}
.custom-block.tip {
  background-color: #eefff8;
  border-color: #55bb77;
  .custom-block-title {
    color: #2c8e4c;
  }
}
div[class*='language-'].line-numbers-mode {
  pre {
    position: static;
    padding-left: 54px;
    padding-right: 46px;
    .code-copy {
      position: absolute;
      right: 0;
      bottom: 16px;
      width: 46px;
      height: 46px;
    }
  }
  .line-numbers-wrapper,
  &::after {
    width: 36px;
  }
}

// navbar
.navbar {
  display: flex;
  align-items: center;
  padding: 0;
  height: 72px;
  line-height: 1;
  .sidebar-button {
    position: static;
    margin-left: 12px;
    width: unset;
    height: unset;
  }
  .navbar-left {
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border-right: 1px solid $border-color;
    @media (min-width: 769px) {
      width: 275px;
    }
    @media (min-width: 1281px) {
      width: 300px;
    }
    .home-link {
      .logo {
        vertical-align: middle;
        height: 20px;
        margin-right: 8px;
      }
      .site-name {
        font-size: 18px;
        font-weight: 600;
        color: #a9a2c8;
        vertical-align: middle;
      }
    }
    .lang-change {
      .dropdown-wrapper {
        position: relative;
        height: auto;
        .dropdown-title {
          width: 80px;
          border-radius: 4px;
          border: 1px solid #979797;
          .title {
            font-size: 12px;
            font-weight: 500;
            color: #515151;
            vertical-align: top;
            line-height: 22px;
          }
        }
        .nav-dropdown {
          border: 1px solid #edf0f8;
          padding: 6px 0;
          .dropdown-item {
            a {
              line-height: 1;
              padding: 12px 24px;
              font-size: 14px;
              font-weight: 500;
              color: #515151;
              &:hover {
                color: $base-color;
              }
              &.active {
                color: $base-color;
                background-color: $base-bg-color;
              }
            }
          }
        }
      }
    }
    @media (max-width: 719px) {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: auto;
      border: none;
      .home-link {
        margin-left: 16px;
      }
      .lang-change {
        display: none;
      }
    }
  }
  .sidebar-button .icon,
  .search-box input {
    color: #a9abb1;
  }
  .search-box {
    @media (max-width: 719px) {
      position: absolute;
      right: 22px;
    }
    input {
      height: 36px;
      border-radius: 8px;
      background-image: url(~public/docs-images/search.png);
      background-position: 0.6rem;
      border: none;
      transition: width 0.5s ease;
      cursor: pointer;
      @media (max-width: 719px) {
        width: 0;
        &:focus {
          width: calc(100vw - 44px);
          background-color: #f5f7f9;
        }
      }
      @media (min-width: 720px) {
        width: 150px;
        border: 1px solid #d7dae1;
        margin-left: 50px;
      }
      @media (min-width: 1024px) {
        width: 320px;
      }
    }
    .suggestions {
      padding: 8px 12px;
      box-shadow: 4px 4px 8px 4px #ddd;
      top: 30px;
      max-height: calc(80vh - 72px);
      overflow-y: auto;
      .suggestion.focused a .suggestion-row .suggestion-content {
        background-color: #f8fafc;
      }
      @media (max-width: 1024px) {
        min-width: 250px;
        width: calc(100vw - 320px);
        left: 12px;
      }
      @media (max-width: 719px) {
        position: fixed;
        top: 72px;
        left: 0;
        margin: 0;
        width: 100vw;
        height: 100%;
        border: none;
        box-shadow: none;
      }
      a {
        .parent-page-title {
          background-color: #e4e9ee;
          font-size: 20px;
          font-weight: 600;
          color: #333844;
        }
        .suggestion-row {
          .page-title {
            background-color: #f8fafc;
            width: 98px;
            font-size: 16px;
            font-weight: 500;
            color: #515151;
          }
          .suggestion-content {
            .highlight {
              font-size: 16px;
              color: $base-color;
              background-color: #e4edf7;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .links {
    top: 50%;
    transform: translateY(-50%);
    .nav-links {
      > .nav-item {
        &:nth-last-of-type(2) {
          display: none;
        }
        a,
        .title {
          font-size: 14px;
          font-weight: 500;
          color: $text-color;
        }
        .arrow.down {
          margin-left: 0.2rem;
          border-top: 4px solid #515151;
        }
        .nav-dropdown {
          padding: 24px 0;
          min-width: 220px;
          h4 {
            font-size: 12px;
            font-weight: 600;
            color: #a2a2a2;
            padding: 16px 24px 8px;
          }
          a {
            padding: 12px 24px;
            font-size: 14px;
            font-weight: 500;
            color: #515151;
            line-height: 1;
            &:hover {
              color: $base-color;
              background-color: $base-bg-color;
            }
            &.active {
              color: $base-color;
              background-color: $base-bg-color;
            }
            > span {
              display: none;
            }
          }
        }
      }
      .btns {
        display: inline-block;
        margin-left: 1.4rem;
        a {
          font-size: 14px;
          font-weight: 500;
          line-height: 34px;
          text-align: center;
          &.github {
            color: #2e2e2e;
          }
          &.downloads {
            width: 102px;
            margin-left: 24px;
            background: #1d1d1d;
            border-radius: 8px;
            color: #fff;
            line-height: 40px;
          }
          img {
            height: 16px;
            margin-right: 4px;
            vertical-align: text-bottom;
            @media (max-width: 719px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.main-box {
  padding-top: 72px;
  > .columns {
    min-height: calc(100vh - 72px);
    margin-bottom: 0;
  }
  .left-column {
    flex-shrink: 0;
    position: sticky;
    top: 72px;
    max-height: calc(100vh - 72px);
    @media (min-width: 769px) {
      width: 275px;
    }
    @media (min-width: 1281px) {
      width: 300px;
    }
    .nav-links .nav-item,
    .nav-links .repo-link,
    .nav-links .nav-item .title {
      font-size: 14px;
      font-weight: 500;
      color: #6b6b6b;
    }
    .version-pick {
      padding: 16px 24px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      svg.icon {
        width: 32px;
        height: 32px;
      }
      h2 {
        font-size: 18px;
        font-weight: 600;
        color: $text-strong-color;
        border: none;
      }
      .dropdown-wrapper {
        padding-left: 2px;
        display: inline-block;
        position: relative;
        &:hover .version-dropdown {
          display: block;
        }
        .dropdown-title {
          display: block;
        }
        .version-dropdown {
          z-index: 1;
          width: 125px;
          display: none;
          position: absolute;
          border: 1px solid #edf0f8;
          top: 100%;
          right: 0;
          background-color: #fff;
          padding: 0.6rem 0;
          overflow-y: auto;
          .version-link {
            width: 100%;
            padding: 8px 16px;
            font-size: 14px;
            font-weight: 500;
            color: #515151;
            &:hover {
              color: $base-color;
            }
            &.active {
              color: $base-color;
              background-color: $base-bg-color;
            }
          }
        }
      }
    }
    @media (max-width: 719px) {
      position: fixed;
      width: 100%;
      padding-top: 0;
      max-height: none;
      img {
        display: none;
      }
    }
  }

  .col-page {
    flex-grow: 1;
    min-width: 350px;
    .page {
      margin: 0 auto 64px;
      padding: 0;
      .page-nav {
        margin-bottom: 16px;
        span,
        a {
          font-size: 14px;
          font-weight: 500;
        }
        span {
          color: $base-color;
        }
        a {
          color: #515151;
          &:hover {
            color: $base-color;
          }
        }
        .inner {
          padding: 1rem 0;
          border: none;
          border-bottom: 1px solid $border-color;
          min-height: initial;
          > .prev {
            float: left;
          }
        }
      }
    }
  }

  .right-column {
    flex-shrink: 0;
    position: sticky;
    top: 72px;
    padding: 48px 24px 0 8px;
    max-height: calc(100vh - 72px);
    width: 240px;
    overflow-y: auto;
    @media (max-width: 1024px) {
      display: none;
    }
    .docs-operation {
      margin-bottom: 32px;
      a {
        font-size: 14px;
        font-weight: 500;
        color: $text-color;
        margin-left: 24px;
        &:hover {
          color: $base-color;
        }
      }
      .doc-download {
        position: relative;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
        &::before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 15px;
          height: 15px;
        }
        &.improve-doc::before {
          background: url(~public/docs-images/edit.png) no-repeat;
          background-size: contain;
        }
        &.feedback-doc::before {
          background: url(~public/docs-images/feedback.png) no-repeat;
          background-size: contain;
        }
      }
    }
    .doc-toc {
      margin-bottom: 96px;
      .title {
        font-size: 14px;
        font-weight: 500;
        color: #515151;
      }
      ul {
        list-style: none;
        padding-left: 0;
        margin-top: 12px;
        li {
          line-height: 14px;
          margin-bottom: 10px;
          > a {
            font-size: 12px;
            font-weight: 500;
            color: #7d8692;
            &:hover {
              color: $base-color;
            }
          }
          &.is-active {
            > a {
              color: $base-color;
            }
          }
        }
      }
    }
  }

  .main-footer-box {
    background: $footer-bg-color;
    .columns {
      padding: 2.5rem 0;
      > ul {
        list-style: none;
        min-width: 240px;
        li {
          line-height: 20px;
          &:not(:last-child) {
            margin-bottom: 12px;
          }
        }
        h5 {
          font-size: 16px;
          font-weight: 500;
          color: $text-strong-color;
        }
        a {
          font-size: 14px;
          font-weight: 500;
          color: #5e5e5e;
          &:hover {
            color: $base-color;
          }
        }
      }
    }
    .logo {
      max-height: 1.75rem;
    }
    .follow-us {
      a {
        color: #5e5e5e;
        font-size: 24px;
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
    .record-information {
      padding: 16px 0;
      border-top: 1px solid $border-color;
      p,
      a {
        font-size: 12px;
        font-weight: 600;
        color: #9b9c9d;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
}

// 404
.not-find {
  .back-home {
    display: inline-block;
    padding: 12px 48px;
    color: #fff;
    border-radius: 8px;
    background: $base-color;
  }
}

/* IE CSS styles go here */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  @media (min-width: 719px) {
    .col-page {
      margin-left: 275px;
    }
  }
  @media (min-width: 1024px) {
    .col-page {
      margin-right: 240px;
    }
  }
  @media (min-width: 1281px) {
    .col-page {
      margin-left: 300px;
    }
  }
  .go-to-top {
    height: 20px;
  }
  .right-column {
    position: fixed;
    top: 72px;
    right: 0;
  }
}

/* print */
@media print {
  .main-box .right-column,
  .main-footer-box {
    display: none;
  }
  .main-box {
    padding-top: 0;
  }
}
